@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    overflow-x: hidden;
    background-color: #E3E2DF;
}

nav {
    background-color: #EE624F;
    color: #E3E2DF;
    font-size: larger;
    font-family: 'Poppins', cursive;
    padding: 7px;
    text-align: center;
    position: sticky;
    top: 0;
}

h3{
    font-weight: normal;
    width: 300px;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 10px 0;

}

label{
    margin-right: 10px;
    font-weight: bolder;
    font-size: large;
}

input {
    border: none;
    background-color: rgb(199, 194, 205);
    padding: 0.5rem;
    border-radius: 0.7rem;
    outline: none;
    width: 7rem;
    font-size: medium;
    font-weight: bold;
    text-align: center;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

option{
    font-size: medium;
    font-weight: normal;
    text-align: center;
    width: 7rem;
}

select{
    font-weight: bold;
    font-size: medium;
}

.heading {
    color: #E3E2DF;
    text-align: center;
    font-weight: normal;
    font-family: 'Poppins';
    margin: 10px;
}

.input-section {
    text-align: center;
    font-family: 'Poppins';
    margin-bottom: 0;
}

.input-1 {
    display: flex;
    justify-content: space-evenly;
    margin: 25px;
}

.input-2 {
    display: flex;
    justify-content: space-evenly;
}

.generate-meal-btn {
    margin: 5px 0px 15px 0px;
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    font-size: large;
    background-color: #EE624F;
    color: #E3E2DF;
}
.generate-meal-btn:hover{
    color: #E3E2DF;
    background-color: #f78c2f;
    outline: none;
}

.generate-meal-btn:focus{
    background-color: #f9a035;
}

.gender{
    border: none;
    background-color: rgb(199, 194, 205);
    padding: 8px;
    border-radius: 0.7rem;
    outline: none;
}

.activity{
    border: none;
    background-color: rgb(199, 194, 205);
    padding: 8px;
    border-radius: 0.7rem;
    outline: none;
}

.meal-section{
    display: flex;
    justify-content: space-evenly;
}

/* dummy card */

.dummy-card {
    margin: 0 25px;
    display: flex;
    justify-content: space-evenly;
  }
  
  .dummy-card h3 {
    text-align: center;
    background-color: #E3E2DF;
  }

  .dummy-card div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    text-align: center;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.7s;
    margin: 5px 5px 30px 5px;
    height: 350px;
    width: 305px;
  }

  .dummy-card div img {
    width: 300px;
    height: 220px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .dummy-card div button{
    margin-top: auto;
    width: fit-content;
  }

/* Original card from Api */
.meal-card {
  margin: 0 25px;
  display: flex;
  justify-content: space-evenly;
}

.meal-card h3 {
  text-align: center;
}

  .meal-card span {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    text-align: center;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.7s;
    margin: 5px 5px 30px 5px;
    height: 350px;
    width: 305px;
  }

  .meal-card span img {
    width: 300px;
    height: 220px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .meal-card span button{
    margin-top: auto;
    width: fit-content;
  }

  button {
    background-color:  #EE624F;
    color: #E3E2DF;
    border: none;
    border-radius: 10px;
    margin-top: 3%;
    padding: 8px 15px;
    margin-bottom: 4%;
    text-align: center;
    cursor: pointer;
    transition: 0.8s;
    font-size: medium;
  }

  button:hover{
    background-color: #f17a3f;
  }

  button:focus{
    background-color: #f6a037;
  }

  .equipment h2,
  .ingrediants h2 {
    margin: 0;
  }

  .dish {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 30px;
  }

  .ingrediants,
  .equipment {
    margin: 30px;
    width: 400px;
    padding: 20px;
  }
  
  .steps {
    padding: 20px;
    margin: 0 30px;
  }

  .recipe {
    padding: 50px;
    background-color: white;
    color: black;
    font-size: 20px;
  }

  .recipe h2 {
    margin: 0 20px 20px 20px;
    color:  #EE624F;
  }

/* Responsive Design */
/* For Mobile Devices */
@media only screen and (max-width: 600px) {
  /* for dummy card */
  .dummy-card{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dummy-card div{
    margin-bottom: 5px;
}

    
  /* This is for the generated meal card */
  .meal-card{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .meal-section{
      visibility: hidden;
    }
    .input-1,.input-2,.dish{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .generate-meal-btn{
      margin: 15px;
    }

    span{
        margin-bottom: 5px;
    }

    input,select{
      margin: 5px;
    }
        label input {
        display: flex;
        align-items: flex-start;
    }
  }

  /* For Tablets */
  @media only screen and (max-width: 768px){
    /* dummy card */
    .dummy-card{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .dummy-card div{
      margin-bottom: 5px;
  }
    
    /*Generated Card main card  */
    .meal-card{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .meal-section{
        visibility: hidden;
      }
      .input-1,.input-2,.dish{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
  
      span{
          margin-bottom: 5px;
      }
  
      input,select{
        margin: 5px;
      }
          label input {
          display: flex;
          align-items: flex-start;
      }
  }

/* The footer is fixed to the bottom of the page */

footer {
  position: fixed;
  bottom: 0;
}

@media (max-height:800px) {
  footer {
      position: static;
  }
  header {
      padding-top: 40px;
  }
}

.footer-distributed {
  background-color:  #EE624F;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 30%;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}


.footer-distributed h3 span {
  color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #ffffff;
  text-decoration: none;
  ;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
  background-color: #3F71EA;
}

.footer-links a:hover {
  color: #3F71EA;
}

@media (max-width: 880px) {
  .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
  }
  .footer-distributed .footer-center i {
      margin-left: 0;
  }
}       
      
